[run]
branch = True
source = junifer
include = */junifer/*
omit =
    */setup.py
    */tests/*
    junifer/configs/juseless.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.: