[submodule "junifer/external/h5io"]
	path = junifer/external/h5io
	url = https://github.com/juaml/h5io
[submodule "junifer/external/BrainPrint"]
	path = junifer/external/BrainPrint
	url = https://github.com/juaml/BrainPrint.git
