name: Run Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.9', '3.10']

    steps:
    - name: Set up system
      run: |
        bash -c "$(curl -fsSL http://neuro.debian.net/_files/neurodebian-travis.sh)"
        sudo apt-get update -qq
        sudo apt-get install git-annex-standalone
    - name: Configure git for datalad
      run: |
        git config --global user.email "runner@github.com"
        git config --global user.name "GitHub CI Runner"
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install tox tox-gh-actions
    - name: Test with tox
      run: |
        git config --global -l | cat
        tox
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@master
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
      if: success() && matrix.python-version == 3.9
