name: Build and publish docs

on:
  push:
    # Sequence of patterns matched against refs/heads
    branches:
      - main
    # Sequence of patterns matched against refs/tags
    tags:
      - v*

jobs:
  build-docs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v4
      with:
        # require all of history to see all tagged versions' docs
        fetch-depth: 0
        submodules: true
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Check for sudo
      shell: bash
      run: |
        if type sudo >/dev/null 2>&1; then SUDO="sudo"; else SUDO=""; fi
        echo "SUDO=$SUDO" >> $GITHUB_ENV
    - name: Install dependencies
      run: |
        $SUDO bash -c "$(curl -fsSL http://neuro.debian.net/_files/neurodebian-travis.sh)"
        $SUDO apt-get update -qq
        $SUDO apt-get install git-annex-standalone
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install -e ".[docs,neurokit2]"
        python -m pip install git+https://github.com/dls-controls/sphinx-multiversion@only-arg
    - name: Configure git for datalad
      run: |
        git config --global user.email "runner@github.com"
        git config --global user.name "GITHUB CI Runner"
    - name: Install ANTs
      run: |
        echo "++ Add universe repo"
        sudo add-apt-repository -y universe

        echo "++ Update package manager info"
        sudo apt-get update -qq

        echo "++ Downloading ANTs"
        curl -fsSL -o ants.zip https://github.com/ANTsX/ANTs/releases/download/v2.5.1/ants-2.5.1-ubuntu-22.04-X64-gcc.zip
        unzip ants.zip -d /opt
        mv /opt/ants-2.5.1/bin/* /opt/ants-2.5.1
        rm ants.zip
        echo "/opt/ants-2.5.1" >> $GITHUB_PATH
    - name: Checkout gh-pages
      # As we already did a deploy of gh-pages above, it is guaranteed to be there
      # so check it out so we can selectively build docs below
      uses: actions/checkout@v4
      with:
          ref: gh-pages
          path: docs/_build
    - name: Build docs
      # Use the args we normally pass to sphinx-build, but run sphinx-multiversion
      run: |
        make -C docs/ html
        touch docs/_build/.nojekyll
        cp docs/redirect.html docs/_build/index.html
    - name: Publish docs to gh-pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_build
        keep_files: true
