name: Build and preview docs

on:
  push:
    branches-ignore:
      - 'main'
    tags-ignore:
      - v*
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

concurrency: preview-${{ github.ref }}

jobs:
  build-docs:
    # https://github.com/actions/setup-python/issues/1013#issuecomment-2642078401
    runs-on: ubuntu-22.04
    permissions:
      # Needed for preview deploy
      pull-requests: write
    # Use custom docs CI image
    container: ghcr.io/juaml/junifer-docs:main
    steps:
    - name: Check ANTs
      run: |
        echo "Using ANTs : $(antsRegistration --version)"
    - name: Install system dependencies
      # actions/checkout fails to identify Git as it's not in the CI image
      run: |
        apt-get -qq update
        apt-get -qq install -y \
        git \
        git-annex \
        make \
        jq
    - name: Copy junifer-data directory
      run: |
        mkdir -p $HOME/junifer_data/v2
        cp -ar /root/junifer_data/v2/. $HOME/junifer_data/v2/
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: true
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        python -m pip install -e ".[docs,neurokit2]"
    - name: Configure Git for DataLad
      run: |
        git config --global user.email "junifer-runner@github.com"
        git config --global user.name "GitHub Runner"
    - name: Test build docs
      run: |
        BUILDDIR=_build/main make -C docs/ local
    - name: Deploy preview
      if: github.event_name == 'pull_request'
      uses: rossjrw/pr-preview-action@v1
      with:
        source-dir: docs/_build/main
